.cart-dropdown { @media only screen and (min-width: 768px) {width: max-content;} }
.pull-right-absolute { margin-bottom: 20px; @media only screen and (min-width: 768px) { position: absolute; top: 25px; right: 0;}}
#product, .my-order{
  .number{span {cursor:pointer; }
    .minus, .plus{width: 25px;background: #f2f2f2;border: 1px solid #ddd;display: inline-block;text-align: center;height: 34px;
      line-height: 29px;}
    input {width: 100px;text-align: center;}
  }
}
.cart-product-name {
  .name {}
}
.cart-products {.table tbody td {padding: .75rem!important; width: 2px; margin-bottom: 20px; @media only screen and (max-width: 768px) {white-space: nowrap;}}
  .number{
    .minus, .plus{}
    input {width: 50px!important;text-align: center;}
  }
}
.table tbody td {padding: .75rem!important; width: 2px; margin-bottom: 20px; @media only screen and (max-width: 768px) {white-space: nowrap;}}


// my-order
.my-order {
  .table {
    thead { background-color: #f6f6f6;
      th { border-bottom-width: 1px; font-size: 0.9375rem; font-weight: 600; }
    }
    tbody {
      td { color: $black; font-size: 0.8125rem; font-weight: 400; vertical-align: middle; @media only screen and (max-width: 768px) {white-space: nowrap;}
        span.onclick-remove{ display: list-item; list-style-type: none; text-align: right; cursor: pointer; }
        i { color: #fff; font-size: 18px; transition: all 0.5s ease;
          &:hover { color: $success; }
        }
      }
      .total {
        td { color: #272727; font-size: 0.9375rem; font-weight: 600; }
      }
    }
  }

  // order-details-page-css
  .arrived-to-deliver {
    ul {
      li { font-size: 1rem; color: #707070; font-weight: 500; }
    }
  }
  .panel-group { .panel-heading { .panel-title { a { font-size: 15px; }}}}
}