// Theme Color 
$primary:       #262525 !default;
$secondary:     #8B8B8B !default;
$success:       #01B0F1 !default;
$info:          #2678d2 !default;
$warning:       #ff9d04 !default;
$danger:        #c31818 !default;
$dark:          #0b2645 !default;
$white:         #fff !default;
$gray-100:      #f3f3f3 !default;
$gray-200:      #e9ecef !default;
$gray-300:      #DCDCDC !default;
$gray-400:      #3D3C3C !default;
$gray-500:      #adb5bd !default;
$gray-600:      #6c757d !default;
$gray-700:      #495057 !default;
$gray-800:      #343a40 !default;
$gray-900:      #212529 !default;
$black:         #000 !default;

$blue:          #182151 !default;
$purpul:        #834cb1 !default;
//
$turquoise-blue:#71ebb2 !default;
$pink:          #f63869 !default;
$instagram:     #d93175 !default;
$google:     	#dc473a !default;
$facebook:      #3b5998 !default;
$youtube:       #fe0000 !default;
$twitter:       #55acee !default;
$pinterest-p:   #cb2027 !default;
$behance:       #4176fa !default;
$dribbble:      #f26798 !default;
$linkedin:      #007ab9 !default;


$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $gray-200,
    "dark":       $dark,
    "white":      $white,
    "black":      $black,
    "pink":       $pink,
    "purpul":     $purpul,
    "gray-400":    $gray-400
);



.btn-success {
    color: $white;
    background-color: $success !important;
    border-color: $success !important;
}
a.btn-primary:hover {
    color: $white;
    background-color: $success !important;
    border-color: $success !important;
}


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-shadows:                              false !default;
$enable-gradients:                            false !default;
$enable-hover-media-query:                    true !default;
$enable-responsive-font-sizes:                true !default;



