// Variables
@import "variables";
@import "mixins";
@import "utilities";
@import "custom";

// body style starts

body {font-family: "Poppins", sans-serif;}
h2 {font-size: calc(1.733rem + 0.9vw);font-weight: 700;}
h3 {font-size: 2.8125rem;font-weight: 600;}
h4 {font-size: 1.25rem;font-weight: 600;}
h5 {font-size: 2.5rem;font-weight: 700;}
.f-20{font-size: 1.25rem;}
.f-15{font-size: 0.9375rem;}
.f-14{font-size: 0.875rem;}
.f-18{font-size: 1.125rem;}
.f-35{font-size: 2.1875rem;}
.f-12{font-size: 12px;}
.f-13{font-size: 0.8125rem;}
.f-120 {font-size: 7.5rem;}
.box-shadow{box-shadow: 0px 0px 6px #00000029;}
.font-weight-medium{font-weight:500;}
.font-family-opensans{font-family: 'Open Sans', sans-serif;}
.f-25{font-size: 1.5625rem;}
.on-hover{&:hover{color: $success;}}
.on-hover-shadow{&:hover{box-shadow: 0px 0px 6px #00000029;}}
.text-wrap {width: 140px;overflow: hidden;white-space: nowrap!important;text-overflow: ellipsis;}
.justify-content-flex-end {justify-content: flex-end;}
a{text-decoration: none;&:hover{text-decoration: none;}}
p {font-size: 0.9375rem;}
.btn-border-div {z-index: 1;}
.custom-btn {color: #FFFFFF;text-transform: uppercase;font-size: 0.875rem;font-weight: bold;}
.btn{border-radius: 0;}
.before-verticle-line{position: relative;
  &::before{content: "|";left: 0; position: absolute;
    top: 23px;}
}
.btn-link:hover, .btn-link:focus {text-decoration: none;}
#common-maintenance{
  width: 100%;
  position: relative;
  min-height: calc(50vh - 13px);
}
#common-home{
  width: 100%;
  position: relative;
  min-height: calc(50vh - 13px);
}

.wish-list {
  color: #8d8d8d;
  i {
    &:hover {
      color: $success;
      transition: all 0.5s ease;
    }
  }
}
.form-control {
  color: $primary;
  border-color: #d1cdcd;
  font-size: 13px;

  //height: 40px;
  &:focus {
    color: $primary;
    border-color: #d1cdcd;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.pagination {
  .page-item {
    margin: auto 0;
    .page-numbers {
      width: 25px;
      height: 25px;
      padding: 5px;
      margin: auto 8px;
      font-size: 0.875rem;

      text-align: center;
      &:hover,
      :focus {
        background: $success;
        transition: all 0.5s ease;
        box-shadow: none;
        color: #fff;
      }
    }
    .page-link {
      &:focus,
      :active {
        box-shadow: none;
        background: $success;
        color: #fff;
      }
    }
  }
}

// topheader style starts from here
.top-headerbar{
  nav.nav{    padding-top: 5px;
    @media only screen and (max-width: 600px) {

    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
      > div{width: 165px}
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      > div{width: 165px}
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
      > div{width: 225px}
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
      > div{width: 270px}
    }
  }

  .no-border {border-top: 2px solid transparent;}


            select {
             appearance: none;
              outline: 0;
              box-shadow: none;
              flex: 1;
              padding: 0 0.5em;
              cursor: pointer;
              background: #fff;
              background-image: none;
            }
            /* Remove IE arrow */
            select::-ms-expand {
              display: none;
            }
            /* Custom Select */
            .select {
              position: relative;
              line-height: 35px;
              overflow: hidden;
              &:after {
                content: "\25BC";
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 1em;
                color: #b4b4b4;
                cursor: pointer;
                pointer-events: none;
                transition: 0.25s all ease;
              }
              &:hover::after {
                color: $success;
              }
            }


}

// header style starts from here
header {background: white;z-index: 9999;
  .container-fluid{max-width: 1550px}
  .dropdown-left {right: 0 !important;left: auto !important;}

 box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.75);
  .navbar-light {
    .navbar-nav {
      .nav-link {
        padding-right: 1rem;padding-left: 1rem;color: $primary;
        &:hover {color: $success;}
      }
    }
  }
  #cart{
    .dropdown-toggle{
      &:after{display: none}
    }
  }
  a {font-family: "Poppins", sans-serif;font-weight: 400;}
  .navbar-tool-label {position: absolute;right: 0;width: 1.9rem;height: 1.9rem;border-radius: 50%;background-color: $success;color: $white; font-size: 0.75rem;font-weight: 500;text-align: center;border: 2px solid $white;line-height: 1.7rem;top:0;}

  select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 0.5em;
    cursor: pointer;
    background: #fff;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    line-height: 30px;
    width: 10rem;
    overflow: hidden;
    &:after {
      content: "\25BC";
      position: absolute;
      top: 5px;
      right: 0;
      padding: 0 1em;
      color: #b4b4b4;
      cursor: pointer;
      pointer-events: none;
      transition: 0.25s all ease;
    }
    &:hover::after {
      color: $success;
    }
  }
  .sub-nav-menu{.nav-item{.nav-link{padding-left: 0; color: $black;font-weight: 600;font-size: 0.9375rem;}}}

  .sub-nav-menu{
    .nav-item {
      background-color: #e2e2e2;
      padding: 5px;
      margin-right: 2px;
    &:hover{background-color: $success; text-decoration: none; transition: all .7s ease-in-out;}}
  }
  @media only screen and (min-width: 992px) {
  .navbar-nav-menu{
    > li{width: 100px;text-align: center;border-right: 3px solid #fff;background: linear-gradient(to right, $success 50%, $gray-100 50%);background-size: 200% 100%;background-position: right bottom;transition: all .5s ease-out;
      a{text-decoration: none;transition: all .6s ease-out;}
      &:hover{background-position: left bottom;
       > a{color: $white;}}
    }}

    .navbar-nav-menu{
      > a{width: 100px;text-align: center;border-right: 3px solid #fff;background: linear-gradient(to right, $success 50%, $gray-100 50%);background-size: 200% 100%;background-position: right bottom;transition: all .5s ease-out;
        a{text-decoration: none}
        li{transition: all .6s ease-out;}
        &:hover{ background-position: left bottom;
          > li{color: $white;}}
      }}
  }
  a.bg-white:hover, a.bg-white:focus, button.bg-white:hover, button.bg-white:focus, .btn:focus, .btn.focus{
    background-color: transparent!important;outline: none;box-shadow: none!important;
  }

  //mega menu
  .nav-mega.dropdown {position: static; background: $primary;}
  .nav-mega {
    width: 100%;
    .dropdown-menu.mega-menu {box-sizing: border-box;border-top-left-radius: 0;border-top-right-radius: 0;min-width: auto;width: 100%;margin-top: 0;padding: 0;border-color: #ccc;
      > li {padding: 20px;}
      .media-list .media {padding: 10px;}
    }
  }
}
// .home-banner
.home-banner {
  .carousel-item {min-height: 320px;}
  .carousel-caption {top: 8%;z-index: 0;}
  .carousel-indicators {
    li {height: 8px;background-color: $gray-300;}
    .active {opacity: 1;background-color: $success;}
  }
  @media only screen and (max-width: 612px) {.carousel-indicators {display: none;}}
  @media only screen and (max-width: 475px) {.carousel-caption {top: 25%;}}
}

// top-collection

.top-collection {
  .product-layout{
    .product-card{
      &:hover {
        box-shadow: aliceblue;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        transition: all .5s ease;
      }
      .rating{.fa-stack{width: 1em;height: 1em;line-height: 1em;}}
    }
  }
  a{text-decoration: none;}
  .card-body {padding: 0;}
  .product-card:hover .view-details{background-color: $success !important; transition: all .7s ease;}
}



// winter-collection
.winter-collection{
  @media only screen and (min-width: 921px) {.winter-text{ position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);padding: 10px 0;background-color: #17130fb8}}

  @media only screen and (max-width: 920px) {.winter-text{padding: 2rem 0;background-color: $primary;}}
}

// container-marketing
.container-marketing{
  .inner-circle{background: $success;height: 100px;width: 100px;border: $success solid 2px;border-radius: 50%;margin: auto;box-shadow: 0px 0px 0px 2px #fff inset;}
  }


  // our-partner
  .our-partner{
    .table.our-partner-table{
      tr.tr-top{ text-align: center;
        td{vertical-align: middle; border: none; position: relative;
          &:after, &:first-child:after, &:last-child:after{content:"";position: absolute;bottom: -8px;left: 20px;right: 20px;height: 0.5em;border-top: 1px solid $gray-300;z-index: -1;}
          &:first-child:after{left: 0;right: 30px;}
          &:last-child:after{left: 30px;right: 0;}
          &:before{content:"";position: absolute;top: 0;left: -1px;width: 1px;background-color: $gray-300;height: 86%;z-index: -1;}
        }
      }
      tr.tr-bottom{
        td{
          border: none; position: relative;
          &:before{content:"";position: absolute;bottom: 0;left: -1px;width: 1px;background-color: $gray-300;height: 86%;z-index: -1;}
        }
      }
    }
  }

// subcribe-us
.subcribe-us {
  .form-inline{
    label {margin: 5px 10px 5px 0;}
    input {vertical-align: middle;margin: 5px 0;min-width: 25%;padding: 10px;background-color: #fff;border: 1px solid #ddd;}
    button {padding: 10px 15px; background-color: $white;border: 1px solid $gray-300;color:$primary;cursor: pointer;margin-left: -10px;
          &:hover {background-color: $button-background-hover;}
        }
      }
    }

// @media (max-width: 800px) {
//   .form-inline input {
//     margin: 10px 0;
//   }

//   .form-inline {
//     flex-direction: column;
//     align-items: stretch;
//   }
// }

// feature-brands
.feature-brands{
  .list-group-item{padding: 0.75rem 0.25rem;margin-right: .8rem;}
}

//   footer
footer {
    h4{font-size: 1rem;font-weight: 600;}
    .footer-social-icons a{display: block; margin-bottom: 10px;}
    a {font-size: 0.8125rem;color: $secondary;font-weight: 400;
      &:hover {color: #b8b8b8;text-decoration: none;}
      }
    ul {list-style: none;padding-left: 0;
      i {margin-right: 15px;font-size: 0.8125rem;color: $secondary;}
        li {font-size: 0.8125rem;color: $secondary;font-weight: 400;margin-bottom: 10px;
          &::before {content: "\f101";font-family: FontAwesome;font-size: 12px;margin-right: 5px;color: $secondary;}
          }
        }
      }

// register-form
#account-register{
  .login-form{background-image: url("../../image/register-background.png");background-repeat: no-repeat;background-size: cover; background-attachment: fixed;}
}


// login-form
#account-login, .account-login, #account-forgotten{

.login-form {background-image: url("../../image/footwear-banner.png");background-repeat: no-repeat;background-size: cover;background-attachment: fixed;
  label {font-size: 0.9375rem;font-weight: 400;}
  form.form-signin {width: 100%;max-width: 330px;padding: 15px;margin: auto;
    .form-control {border: 1px solid #d1cdcd;border-radius: 0;}}
  //.checkbox{
  //.form-group-check {
  //  input { display: none;cursor: pointer;}
  //  label {position: relative;cursor: pointer;font-size: 0.8125rem;}
  //  label:before {content: "";-webkit-appearance: none;background-color: transparent;border: 2px solid #272727;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);padding: 6px;display: inline-block;position: relative;vertical-align: middle;cursor: pointer;margin-right: 5px;border-radius: 4px;top: -2px;}
  //  input:checked + label:after {content: "";display: block;position: absolute;top: -1px;left: 7px;width: 8px;height: 15px;border: solid #272727;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);transform: rotate(45deg);}
  //}
  //}
  @media only screen and (min-width: 600px) {
    form.form-signin {max-width: 600px;padding: 0px 70px 50px;border: 1px solid #00000029;background: #ffffff 0% 0% no-repeat padding-box;box-shadow: 0px 0px 6px #00000029;opacity: 1;}
  }
  #devider-login{
    width: 100%;height: 50px;text-align: center; font-size: 28px; position: relative;
    &:after{content: '';width: 100%; border-bottom: solid 1px $secondary;position: absolute;left: 0;top: 50%;z-index: 0;}
    .or-devider{width: auto;display: inline-block;z-index: 3;padding: 0 20px 0 20px;color: $secondary;position: relative;
     font-weight: lighter;margin: 0;font-size: 15px;background-color: $white;}
  }
}
}
#account-register{}

// .product-details

.product-details {
  background-color: #fafafa;
  .container {
    background-color: #fff;
  }

  img {
    vertical-align: middle;
  }

  /* Position the image container (needed to position the left and right arrows) */
  .product-images {
    position: relative;
    /* Hide the images by default */
    .mySlides {display: none;}
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {cursor: pointer;}
    /* Next & previous buttons */
    .prev,.next {cursor: pointer;position: absolute;top: 40%;width: auto;padding: 16px;margin-top: -50px;color: #8d8d8d;
      font-weight: bold;font-size: 20px;border-radius: 0 3px 3px 0;user-select: none;-webkit-user-select: none;}
    /* Position the "next button" to the right */
    .next { right: 0;border-radius: 3px 0 0 3px;    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,.next:hover {background-color: rgba(0, 0, 0, 0.8);}
    /* Container for image text */
    .row:after {content: "";display: table;clear: both;}
    /* Six columns side by side */
    .column {width: 23%;text-align: center;border-right: 1px solid #dcdcdc;padding: 0;margin: 0 4px 4px;}
    /* Add a transparency effect for thumnbail images */
    .demo {opacity: 0.6;}
    .active,.demo:hover {opacity: 1;}
  }
  // select options
  select { appearance: none;outline: 0;box-shadow: none;
    background: #fff;background-image: none;}
  /* Remove IE arrow */
  select::-ms-expand {display: none;}
  /* Custom Select */
  .select {position: relative;display: inline-flex;width: 12rem;height: 3em;line-height: 3;background: #fff;overflow: hidden;  }
  @media only screen and (max-width: 991px) {.select {width: 6rem;}}

  select {flex: 1;padding: 0 0.5em;color: #b4b4b4;cursor: pointer;}  /* Arrow */
  .select::after {content: "\25BC";position: absolute;top:-6px;right: 0;padding: 0 1em;color: #b4b4b4;cursor: pointer;
    pointer-events: none;-webkit-transition: 0.25s all ease;-o-transition: 0.25s all ease;transition: 0.25s all ease;}
  /* Transition */
  .select:hover::after {color: #f39c12;}
  //   color radios
  .custom-radios {div {display: inline-block;}
    input[type="radio"] {display: none;
      + label {color: #333; font-family: Arial, sans-serif;font-size: 14px;
        span {display: inline-block;width: 25px;height: 25px;margin: -1px 4px 0 0;vertical-align: middle;cursor: pointer;
          border-radius: 50%;border: 2px solid #ffffff;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);background-repeat: no-repeat;background-position: center;text-align: center;line-height: 20px;
          img {opacity: 0;transition: all 0.3s ease;}
        }
      }
      &#color-1 + label span {background-color: #fc0707;}
      &#color-2 + label span {background-color: #000000;}
      &#color-3 + label span {background-color: #ffffff;}
      &#color-4 + label span {background-color: #5271ff;}
      &:checked + label span {opacity: 1;width: 30px;height: 30px;-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    }
  }
  //   add to cart buttons
  .add-to-cart,.buy-now {.custom-btn { width: 90%;background-color: #272727;
    &:after { padding: 1.4rem 49%;}}
  }
  .buy-now {.custom-btn {background-color: $success;}}
  .panel-title > a:before {float: right !important;font-family: FontAwesome;content:"\f068";padding-right: 5px;}
  .panel-title > a.collapsed:before {float: right !important;content:"\f067";}
  .panel-title > a:hover,.panel-title > a:active,.panel-title > a:focus  {text-decoration:none;}
}

// rating-and-review
.rating-and-review {
  background-color: #fafafa;
}

// product-you-may-also-like
.product-you-may-also-like {
  background-color: #fafafa;
}

// my-order
.my-order {
  .table-bordered {
    thead {
      background-color: #f6f6f6;
      th {
        border-bottom-width: 1px;
        font-size: 0.9375rem;
        font-weight: 600;
      }
    }
    tbody {
      td {
        color: #9b9b9c;
        font-size: 0.8125rem;
        font-weight: 400;
        vertical-align: middle;
        span.onclick-remove{
          display: list-item;
          list-style-type: none;
          text-align: right;
          cursor: pointer;
        }
        i {
          color: #fff;
          font-size: 18px;
          transition: all 0.5s ease;
          &:hover {
            color: $success;
          }
        }
      }
      .total {
        td {
          color: #272727;

          font-size: 0.9375rem;
          font-weight: 600;
        }
      }
    }
  }

  // order-details-page-css
  .arrived-to-deliver {
    ul {
      li {
        font-size: 1rem;
        color: #707070;
        font-weight: 500;
      }
    }
  }
}

// Your Shipping Address

.shipping-address {
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    // position: absolute;
    // left: -9999px;
    display: none;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid $success;
    border-radius: 100%;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: "";
    width: 16px;
    height: 16px;
    background: $success;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  h6 {
    color: $primary;
    font-size: 0.9375rem;
    font-weight: 600;
  }
  a {
    text-decoration: none;
    color: $success;
    font-size: 0.9375rem;
    font-weight: 400;
    margin-left: 0.5rem;
  }
  p {
    color: #9b9b9c;
    font-size: 0.8125rem;
    font-weight: 400;
  }
  form {
    label {
      color: $primary;
      font-size: 0.9375rem;
      font-weight: 400;
    }
  }
}

.new-address {
  .custom-btn {
    width: 98%;
    &:after {
      left: 0.2rem;
      padding: 1.4rem 50%;
    }
  }
}

// aboutus
.about-us {
  p {
    font-size: 0.9375rem;
    color: $primary;
  }
  .our-history {
    h6 {
      font-size: 1.875rem;
      color: $primary;
      font-weight: 600;
    }
    h4 {
      font-size: 1.875rem;
      color: $success;
      font-weight: 600;
    }
  }
}

// contact page
.faq-page {
  //.hero-image {
  //  position: relative;
  //}
  //
  //.hero-text {
  //  text-align: center;
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  transform: translate(-50%, -50%);
  //  color: white;
  //}
  p {
    font-size: 0.9375rem;
  }
  .needs-validation {
    margin: 0 15%;
  }
  .custom-btn {
    width: 98%;
  }

  .panel-default > .panel-heading {
    color: #333;
    background-color: #f9f9f9;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .panel-default > .panel-heading a {
    display: block;
    padding: 20px 15px 20px;
    font-weight: 500;
    text-decoration: none;
  }

  .panel p {
    padding: 0 4rem 0 15px;
  }

  .panel-default > .panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform 0.25s linear;
    -webkit-transition: -webkit-transform 0.25s linear;
  }

  .panel-default > .panel-heading a[aria-expanded="true"] {
    background-color: #fff;
    color: $success;
  }

  .panel-default > .panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .panel-default > .panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  h4 {
    font-size: 1rem;
  }
}

.faq-collapse {
  .custom-btn {
    width: auto;
    &:after {
      border: 1px solid #fff;
    }
  }
  @media only screen and (min-width: 600px) {
    .hero-image-bottom {
      position: relative;

      .hero-text-bottom {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
    }
  }
  h6 {
    font-size: 1.875rem;
    color: #272727;
    font-weight: 600;
  }
}

// blog-listing
.blog-listing {
  .date-block {
    .date {
      display: block;
      background: #f8f8f8;
      font-size: 0.8125rem;
      font-weight: 600;
    }
    .month {
      display: block;
      background: $success;
      font-size: 0.8125rem;
      color: #fff;
    }
  }
}

.blog-details {
  p {
    margin-top: 2rem;
  }
}

// product-listing
.product-listing {
  .no-boder {
    border-top: 2px solid transparent;
  }
  table {
    tbody {
      tr {
        td {
          .form-control {
            width: 11rem;
          }
          .custom-btn {
            padding: 0 2rem;
            line-height: 2.5em;
            &:after {
              padding: 1.2rem 49%;
            }
          }
        }
      }
    }
  }
  .pagination {
    li {
      a {
        background-color: transparent;
      }
    }
  }
  .accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}
}

// update-profile
.update-profile {
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    // position: absolute;
    // left: -9999px;
    display: none;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid $success;
    border-radius: 100%;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: "";
    width: 10px;
    height: 10px;
    background: $success;
    position: absolute;
    top: 5px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

// Change Password
.change-password {
  @media only screen and (min-width: 600px) {
    .login-form form.form-signin {
      max-width: 600px;
    }
  }
}

//account-account
#account-account, .account-account{
  .accordion .card-header:after {font-family: 'FontAwesome';content: "\f078";float: right;}
  .accordion .card-header.collapsed:after { /* symbol for "collapsed" panels */ content: "\f054"; }
}

#account-edit{
  //.file-upload {
  //  label {width: 50%; height: 128px; border: 1px solid #ddd;}
  //  input {position: absolute; opacity: 0; width: 1px;}
  //  .fa {background-color: #ddd;padding: 10px;}
  //}
  .file-upload{
    position: relative;
    width: 160px;
    input {
      top: 0;
      position: absolute;
      left: 0;
      width: 160px;
      height: 160px;
      opacity: 0;
      cursor: pointer;}
  }
  .img-view {
    margin-left: 15px;
    width: 160px;
    height: 160px;
  }
}


//carousel-categories
#category{
  .swiper-viewport{margin: 30px 0 30px;}
}
#carousel-categories{
  .swiper-wrapper{
    .swiper-slide{align-items: center; margin: auto;
    img{width:100px;height: 100px;}}}
}

//product-search
#product-search{
  #input-search{position: relative;height: 40px;}
    #button-search{position: absolute;right: 18px;top: 4px;height: 32px;width: 115px;line-height: 1;  }
}

//store-information
#store-information{
  .nav-tabs{
    li{margin: 10px 0 0;
      a{
        padding: 10px 15px 10px 15px;transition: all .4s ease;text-decoration: none;
        &:hover{text-decoration: none;}
      }
      a.active{
        color: #fff;
        cursor: default;
        background-color: $success;
        border-bottom-color: transparent;
        padding: 10px 15px 10px 15px;
        transition: all .4s ease;
      }
    }
  }
  #tab-social{
    .input-group-addon{
      width: 40px;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      border: 1px solid #d1cdcd;
      padding: 3px;
      border-right: none;
      background-color: #eeeeee;
    }
  }
}

//tabs
//#mv-product-form{
#tabs{
  li{margin: 10px 0 0;
    a{
      padding: 10px 10px 10px 10px;transition: all .4s ease;text-decoration: none;
      &:hover{text-decoration: none;}
    }
    a.active{
      color: #fff;
      cursor: default;
      background-color: $success;
      border-bottom-color: transparent;
      padding: 10px 10px 10px 10px;
      transition: all .4s ease;
    }
  }}

//product-layout
//.product-layout{ border-right: 1px solid $gray-100; transition: all .5s ease;
//  &:nth-child(4n+0){border-right: none;}
//  &:hover{box-shadow: 0px 0px 15px #00000036; transition: all .5s ease;}
//}
//
//.product-layout.col-lg-4{ border-right: 1px solid $gray-100; transition: all .5s ease;
//  &:nth-child(3n+0){border-right: none;}
//  &:hover{box-shadow: 0px 0px 15px #00000036; transition: all .5s ease;}
//}





#account-account, #track-order{
  .card {z-index: 0;}

  #progressbar { margin-bottom: 30px; overflow: hidden; color: #455A64; padding-left: 0px; margin-top: 30px;
    li { list-style-type: none; font-size: 13px; width: 20%; float: left; position: relative; font-weight: 400;
      &:before { width: 40px; height: 40px; line-height: 42px; display: block; font-size: 20px; background: #C5CAE9; border-radius: 50%; margin: auto; padding: 0px }
      &:after { content: ''; width: 100%; height: 12px; background: #C5CAE9; position: absolute; left: 0; top: 16px; z-index: -1 }
      &:last-child:after { border-top-right-radius: 10px; border-bottom-right-radius: 10px; position: absolute; left: -50% }
      &:first-child:after { border-top-left-radius: 10px; border-bottom-left-radius: 10px; position: absolute; left: 50% }
      &.active {
        &:before,&:after { background: $success; }
        &:before { font-family: FontAwesome; content: "\f00c" }
      }
    }
    .step0:before { font-family: FontAwesome; content: "\f10c"; color: #fff; }
  }

  #progressbar-icons { margin-bottom: 30px; overflow: hidden; color: #455A64; padding-left: 0px; margin-top: 30px;
    li { list-style-type: none; font-size: 13px; width: 20%; float: left; position: relative; font-weight: 400;}}
}

//------------------------
#information-contact{
  .hero-image{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url("../../image/information-contact.png") no-repeat center;
    background-size: cover;
  }
  .container{
    .inner-text{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}

  }
  .get-in-touch{position: absolute;top: 100%;left: 50%;transform: translate(-50%,-100%);}

  .information{.information-icons{width: 100px;text-align: center;border: 1px solid #C7C7C7; border-radius: 4px;padding: 20px;margin: 5px; }}
}

//-------------alert message-------
//.alert{
//position: absolute;
//z-index: 3;
//transform: translate(-50%, 0%);
//top: 0;
//left: 50%;
//}
//---------------------------------
//radio image
.radio-image{
  [type=radio] {position: absolute;opacity: 0;width: 0;height: 0;
    /* CHECKED STYLES */
    &:checked + img {outline: 1px solid $success;box-shadow: 0px 0px 10px 0px #01B0F1;}
    /* IMAGE STYLES */
    + img {cursor: pointer;}
  }}

#product, .my-order{
.number{span {cursor:pointer; }
  .minus, .plus{width: 25px;background: #f2f2f2;border: 1px solid #ddd;display: inline-block;text-align: center;height: 31px;
    line-height: 30px;}
  input {width: 100px;text-align: center;}
  }}

// about-us
#information-about{
  .header-bg-text{}
  .header-top-text{top: 65px; left: 24px;}
}

// contact-us
#contact-us{
  .hero-image{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url("../images/contact-hero-girl.png") no-repeat center;
    background-size: cover;
  }
  .container{
    .inner-text{position: absolute;top: 50%;left: 8%;transform: translate(-5%,-50%);}
    @media only screen and (max-width: 991px) {.inner-text{left: 0;transform: translate(0%,-50%);} }
  }
  .get-in-touch{position: absolute;top: 100%;left: 50%;transform: translate(-50%,-100%);}

  .information{.information-icons{width: 100px;text-align: center;border: 1px solid #C7C7C7; border-radius: 4px;padding: 20px;margin: 5px; }}
}


// new-arrival
.new-arrival{

  .category-btn{
    bottom: 8px;
    left: 20px;
    a{font-size: 13px;}
  }


  .card-bg-img-1, .card-bg-img-2, .card-bg-img-3 {
    //background-image: url(../../image/z2f6jdkx.png);
    min-height: 200px;
    @media (min-width: 768px) {
      min-height: 36vw;
    }
    @media (min-width: 1200px) {
      min-height: 512px;
    }
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .card-bg-img-2 {
    //background-image: url(../../image/6z7l1ncl.png);
    @media (min-width: 768px) {
      min-height: 20vw;
    }
    @media (min-width: 1200px) {
      min-height: 300px;
    }
  }
  .card-bg-img-3 {
    //background-image: url(../../image/0pycqfzt.png);
    @media (min-width: 768px) {
      min-height: 14vw;
    }
    @media (min-width: 1200px) {
      min-height: 197px;
    }
  }

  .card-bg-img-4, .card-bg-img-5, .card-bg-img-6 {
    //background-image: url(../../image/odjei9xs.png);
    min-height: 200px;
    @media (min-width: 768px) {
      min-height: 14vw;
    }
    @media (min-width: 1200px) {
      min-height: 197px;
    }
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .card-bg-img-5 {
    //background-image: url(../../image/vra712r3.png);
  }
  .card-bg-img-6 {
    //background-image: url(../../image/x2ufo1kq.png);
    @media (min-width: 768px) {
      min-height: 20vw;
    }
    @media (min-width: 1200px) {
      min-height: 300px;
    }
  }
}

#profile-column-left{
  .accordion{
    ul{
      li{transition: all .5s ease;
        &:hover{ background-color: #F2F9FF; transition: all .5s ease;}
      }
    }
  }
  .accordion > .card .card-header{margin-bottom: -2px;}
}


//------------

