{{ header }}
<section id="information-about">
    <div class="history">
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-6">
                    <div class="header-bg-text position-relative">
                        <h3 class="f-120 text-gray-500 font-weight-bold">HISTORY</h3>
                    </div>
                    <div class="header-top-text position-absolute">
                        <h3 class="f-15 text-uppercase text-success font-weight-bold">Our History</h3>
                    </div>
                    {#<h3 class="f-45 text-primary font-weight-black">Creative and renovate fashion trends</h3>#}
                    <p class="f-12 font-weight-medium">We are an online shopping mall – a gateway between the customers and the sellers, dedicated to bringing our members the best possible prices on quality, brand-name merchandise. With numerous sellers worldwide, Thechampionmall.com provides a wide selection of merchandise, plus the convenience of specialty departments and exclusive member services through our sellers, all designed to make your online shopping experience a pleasurable one.</p>
                    <p class="f-12 font-weight-medium">
                        Our operating model will remain simple: - To keep costs down and pass the savings on to our customers. Our numerous customer base, combined with our never-ending drive for efficiency, result in the lowest possible prices for our members.
                    </p>
                    <p class="f-12 font-weight-medium">Our commitment is to offer the best value to our members, with 100% satisfaction guarantee on both your membership and merchandise. If you have questions about your membership or products you've purchased on our website, please get in touch with us through any of our contact medium. For more information read our return policy.</p>

                    {#<div class="row">#}
                        {#<div class="col-md-4 col-sm-4">#}
                            {#<div class="media">#}
                                {#<div class="media-body">#}
                                    {#<h6 class="text-success font-weight-bold f-50">12</h6>#}
                                    {#<p class="f-15" style="font-size: 0.8125rem;">Years Experience</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-md-4 col-sm-4">#}
                            {#<div class="media">#}
                                {#<div class="media-body pl-2">#}
                                    {#<h6 class="text-success font-weight-bold f-50">20K</h6>#}
                                    {#<p class="mb-0 text-secondary opacity-50" style="font-size: 0.8125rem;">Happy#}
                                        {#Customers</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-md-4 col-sm-4">#}
                            {#<div class="media">#}
                                {#<div class="media-body pl-2">#}
                                    {#<h6 class="text-success font-weight-bold f-50">100%</h6>#}
                                    {#<p class="mb-0 text-secondary opacity-50">Clients Satisfaction</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <img src="catalog/view/theme/champion/image/21.png" alt="" class="img-fluid">
                </div>

            </div>
        </div>
    </div>
    <div class="vision bg-light py-4">
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-6 d-none d-lg-block">
                    <img src="catalog/view/theme/champion/image/GiovanniFabiani_header3.png" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6">
                    <div class="header-bg-text position-relative">
                        <h3 class="f-120 text-gray-500 font-weight-bold">VISION</h3>
                    </div>
                    <div class="header-top-text position-absolute">
                        <h3 class="f-15 text-uppercase text-success font-weight-bold">Our vision</h3>
                    </div>
                    <h3 class="f-35 text-primary font-weight-black">We Value Your Patronage</h3>
                    <p class="f-12 font-weight-medium">It is our aim for you to appreciate the quality and value of the products you find on our website. That's our promise to you. However, if our sellers fail to deliver on that promise, our sellers will refund your money. It's that simple.</p>
                    {#<ul class="list-unstyled">#}
                        {#<li class="f-15 mb-2"><i class="far fa-check-square f-20 text-success mr-2" aria-hidden="true"></i>Credibly innovate granular internal</li>#}
                        {#<li class="f-15 mb-2"><i class="far fa-check-square f-20 text-success mr-2" aria-hidden="true"></i>Grantedly underconstructions reloaded#}
                        {#</li><li class="f-15 mb-2"><i class="far fa-check-square f-20 text-success mr-2" aria-hidden="true"></i>Interactively procrastinate high-payoff</li>#}
                        {#<li class="f-15 mb-2"><i class="far fa-check-square f-20 text-success mr-2" aria-hidden="true"></i>Credibly innovate granular internal</li>#}
                    {#</ul>#}
                </div>
            </div>
        </div>
    </div>
    {#<div class="about-subscribe py-5">#}
        {#<div class="container">#}
            {#<div class="row my-5">#}
                {#<div class="col-lg-6">#}
                    {#<div class="card p-4 my-5">#}
                        {#<h3 class="f-35 text-primary font-weight-black text-uppercase">Don’t forget to subscribe for our newsletter</h3>#}
                        {#<input type="text" id="inputName" class="form-control my-4" placeholder="Your Name" required="" autofocus="">#}
                        {#<input type="email" id="inputEmail" class="form-control mb-4" placeholder="Your Email" required="" autofocus="">#}
                        {#<a class="btn btn-gradient py-2 w-100 text-white font-weight-medium" href="#" role="button">Submit</a>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-lg-6 d-none d-lg-block">#}
                    {#<img src="catalog/view/theme/champion/image/about-subscribe.png" alt="" class="img-fluid">#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
</section>


{{ footer }}