{{ header }}
<section id="information-privacy">
        <div class="container my-5">
            <p>Our Affiliate partnership is a referral program where the partner is paid commissions for the products sold from the sellers set up by them worldwide
            </p>
            <p>
                When products are bought by customers in our mall, a percentage of the profit is shared with the Affiliate that sets the seller up. The beauty of this arrangement is that there is no limit to the number of sellers an affiliate can set up and there are no restrictions to the countries where we operate that they cannot set sellers up. Thereby creating an international business for the affiliate to generate income without having to set up offices and warehouses.
</p>
<p>
    When a seller is set up properly, the repeated purchases from the seller by our customers generates continuous renumeration for the affiliate that sets the shop up with us.  if products are sold, income will be generated.
    Our affiliate partners have access to the backend and can see all the activities related to the seller that they set up. They can see their income on real time basis.
</p>
           <p class="text-center"> <a href="{{ franchisee_link }}" class="btn-success py-2 px-5">Please click this link to become a franchisee.</a></p>
        </div>
</section>
{{ footer }}
