{{ header }}
<section class="delivery-info delivery-partner-info faq-page faq-collapse" xmlns="">

  <div class="container my-5">
    <div class="row bg-light py-5">
      <div class="col-12">
        <div class="banner-title text-center">
          <h3 class="f-25">
            Our Partners
          </h3>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <p>
          We create strong relationships with world-class business providers to ensure our partners businesses are promoted to our numerous executive members who in turn get values for their money at discounted rates.

        </p>
        <p>
          Our simple focus is a win “win” situation for all the sectors involved in this relationship.

        </p>
        <p>
          As an executive member, you get rebates and or points back on your everyday spending and leisure activities, car rentals, hospitality as well as when you travel with any of our collaborating partners.

        </p>
        <p>
          Click a partner name in the categories below to find out how you can take advantage of your Executive membership, and to see any current special offers that will help you earn rebates or give you extra value on your everyday spending and leisure activities.

        </p>
        <p>
          We are constantly expanding the scope of our partnership with businesses in class of their own by helping them to promote their businesses with our numerous members thereby increasing the patronage of their businesses. If you will like to be part of this movement, and will like to partner with us, please click the link below and follow the simple steps of an expanded horizon.

        </p>

        <div class="text-center">
          <a href="{{ customer_register_link }}" class="bg-light py-2 px-5 text-center">Become Our Partner</a>
        </div>

      </div>
    </div>
    <p>

    </p>



  </div>


</section>
{{ footer }}