{{ header }}
<section class="delivery-info delivery-partner-info faq-page faq-collapse" xmlns="">

  <div class="container my-5">
    <div class="row bg-light py-5">
      <div class="col-12">
        <div class="banner-title text-center">
          <h3 class="f-25">
            The Benefits of delivering with Thechampionmall.com
          </h3>
          <p>
            As self-employed delivery partner, you enjoy many great benefits
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-12 text-center">
        <p>
          Flexible Hours
        </p>
        <p>
          You plan your own work around your own schedule and commitments bringing a great work-life balance.
        </p>
        <p>
          Deliver in your local area
        </p>
        <p>
          You plan your route with the convenience of delivering and collecting parcels within your local area.
        </p>
        <p>
          Competitive rates of pay
        </p>
        <p>
          With negotiable rate, but typically you would have the opportunity to earn between £10 and £15 per hour delivering parcels in your local area!
        </p>
        <h4 class="my-4">
          Benefits of Our Partner Rewards Programme
        </h4>
        <p>
          All our couriers get access to our Partner Rewards programme that offer discounts on fuel, breakdown cover, and lots more.
        </p>
        <p>Long term stability
        </p>
        <p>Never a shortage of parcels to deliver.</p>
        <p>No experience required</p>
        <p>You don't need any previous delivery experience to become a delivery partner. Training will be provided adequately.</p>
        <p>Click here to start delivering with us:</p>
        <a href="{{ delivery_partner_register_link }}" class="btn-success py-2 px-5">Become a delivery partner</a>
      </div>
    </div>
    <p>

    </p>



  </div>


</section>
{{ footer }}