{{ header }}
<section class="delivery-info delivery-partner-info faq-page faq-collapse" xmlns="">

  <div class="container my-5">
    <div class="row bg-light py-5">
      <div class="col-12">
        <div class="banner-title text-center">
          <h3 class="f-25">
            Selling on Thechampionmall.com
          </h3>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">

        <p>
          Thechampionmall.com is an online shopping mall on thechampionmall.com that serves the needs of different cadre of sellers, businesses and of course our esteemed customers.

        </p>
        <p>
          We always welcome new sellers and products always. For approvals and in the interest of your time, and that of our customers and ours, we suggest that you review the following products specification worksheet:

        </p>
        <p>
          It takes only few quick steps for you to become a seller on thechapionmall.com and showcase your products to hundreds of thousands to millions of potential customers.


        </p>
        <p>
          You need not build your own website, because we will provide you with all the educational tools required that will guide you in all the required processes on our website.



        </p>
        <p>
          We accommodate both professional sellers, whether you sell a lot or individual sellers if you sell little.


        </p>
        <p>
          One seller one account is strictly our policy. Multiple seller accounts is prohibited
        </p> <br>

        <h4>Quality</h4>
        <p>We request High-quality merchandise to be guaranteed by our suppliers in order to maintain Thechampionmall.com's reputation and our customers’ satisfaction.</p>
        <br>
        <h4>Pricing</h4>
        <p>Item presentation is expected to always represent lowest possible acquisition price.
          You must present a complete freight evaluation of all methods of product distribution
        </p>
        <br>
        <h4>Packaging</h4>
        <p>All our sellers packaging is to be environmentally friendly, and have to comply with E.U. and UK packaging regulations where applicable and that of the country the seller operate from if outside these two zones.</p>
        <br>
        <h4>Gratuities</h4>
        <p>Thechampionmall.com's policy totally prohibits the acceptance by any of its employee of any gratuity from a seller with whom we are currently doing business or whom we are considering for future business.</p>
        <br>

        <h4>Sellers Policies</h4>
        <p>As a seller, you are required to provide very clear and detailed information on your operational policies.
         </p>
        <br>

        <h4> Products Price Update
         </h4>
        <p> We expect all sellers to consistently update the prices of their displayed products without fail. A seller who does not consistently update prices on our websites will be permanently discontinued as a seller source for Thechampionmall.com.
        </p>
        <br><br>

        <h4>Know Your Customer (KYC)</h4>
        <p> We are bound by the law to ensure that we carry out due diligence on our sellers before allowing them to commence trading on our platform. So therefore, there are basic checks that must be carried out on all potential sellers by submitting required documents during the process of application. Without receiving those documents and verified, you cannot trade on thechampionmall.com.
        </p>

        <div class="text-center">
          <p>To become a SELLER, click on</p>
          <a href="{{ become_seller_link }}" class="bg-light py-2 px-5 text-center">Become Seller</a>
        </div>

      </div>
    </div>
    <p>

    </p>



  </div>


</section>
{{ footer }}