{{ header }}
<section class="delivery-info delivery-partner-info faq-page faq-collapse" xmlns="">

  <div class="container my-5">
    <div class="row bg-light py-5">
      <div class="col-12">
        <div class="banner-title text-center">
          <h3 class="f-25">
              {{ becomeOurPartner }}
          </h3>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">

          {{ becomeOurPartnerDesc }}
      </div>
    </div>
  </div>
</section>


{{ footer }}