{{ header }}
<section class="delivery-info faq-page faq-collapse" xmlns="">

  <div class="container mb-5">
    <h6 class="my-3 pt-4">Checking the status of my order</h6>
    <p class="">
      Log onto the website and go to <a href="{{ my_account_href }}" class="text-success">My Account</a> to check the status of your order.
    </p>
    <div class="faq-page-title">
      <h6 class="my-3 pt-4">Delivery types</h6>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title m-0">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Small and medium-sized item delivery
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <p>
                Most products will be delivered by major carriers like, Parcel Force or Royal Mail. Whilst perishable and non-perishable items will be delivered by our individual delivery partners.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading border-top" role="tab" id="headingTwo">
            <h4 class="panel-title m-0">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Large-item delivery
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <p>
                These products may need a delivery time to be agreed prior to dispatch. The delivery partner will normally contact you within 48 to 72 hours of your order being placed to arrange delivery.<br>
                Large items will usually be delivered to a ground floor room of your choice unless indicated elsewhere in the site terms or on the particular product page. However, please check dimensions carefully before ordering large items to ensure that they will fit inside your preferred location. Note that the delivery partner will not unpack or set up the items unless “delivery unpack" is specified on the relevant product page.

              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading border-top" role="tab" id="headingThree">
            <h4 class="panel-title m-0">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Delivery Unpack
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <p>
                Some products require special handling or set up. Our "delivery unpack" partners deliver bulky goods, unpack, inspect and set up these products in the room of your choice – and take away all packaging. Our delivery partner will normally call you within 48 to 72 hours of you ordering to arrange delivery of these items.


              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading border-top" role="tab" id="headingFour">
            <h4 class="panel-title m-0">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                Partial item delivery
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <p>
                Some goods may be delivered from different locations, so you may receive the goods in multiple deliveries. You can track your goods and deliveries by clicking on the order status link provided or calling the delivery company telephone number provided in your order confirmation email.
              </p>
            </div>
          </div>
        </div>
      </div>


    </div>



  </div>


</section>
{{ footer }}