{{ header }}
<section class="faq-page faq-collapse">
    <div class="hero-image">
        <img src="images/damian-zaleski-RYyr-k3Ysqg-unsplash.png" alt="" class="img-fluid">
        <div class="hero-text">
            <h2 class="text-success text-center font-weight-bold">FAQ</h2>

        </div>
    </div>
    <div class="container">
        <div class="faq-page-title">
            <h6 class="text-center my-3 pt-4">Shipping Information</h6>
            <div class="panel-group border" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title m-0">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                How will my parcel be delivered?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>
                                Nunc scelerisque tincidunt elit. Vestibulum non mi ipsum. Cras pretium suscipit tellus sit amet aliquet. Vestibulum maximus
                                lacinia massa non porttitor. Pellentesque vehicula est a lorem gravida bibendum. Proin tristique diam ut urna pharetra,
                                ac rhoncus elit elementum. Proin vitae purus ultrices, dignissim turpis ut, mattis eros. Maecenas ornare molestie urna,
                                hendrerit venenatis sem.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading border-top" role="tab" id="headingTwo">
                        <h4 class="panel-title m-0">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Do I pay for delivery?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>
                                Nunc scelerisque tincidunt elit. Vestibulum non mi ipsum. Cras pretium suscipit tellus sit amet aliquet. Vestibulum maximus
                                lacinia massa non porttitor. Pellentesque vehicula est a lorem gravida bibendum. Proin tristique diam ut urna pharetra,
                                ac rhoncus elit elementum. Proin vitae purus ultrices, dignissim turpis ut, mattis eros. Maecenas ornare molestie urna,
                                hendrerit venenatis sem.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading border-top" role="tab" id="headingThree">
                        <h4 class="panel-title m-0">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Will I be charged customs fees?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>
                                Nunc scelerisque tincidunt elit. Vestibulum non mi ipsum. Cras pretium suscipit tellus sit amet aliquet. Vestibulum maximus
                                lacinia massa non porttitor. Pellentesque vehicula est a lorem gravida bibendum. Proin tristique diam ut urna pharetra,
                                ac rhoncus elit elementum. Proin vitae purus ultrices, dignissim turpis ut, mattis eros. Maecenas ornare molestie urna,
                                hendrerit venenatis sem.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading border-top" role="tab" id="headingFour">
                        <h4 class="panel-title m-0">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                Will I be charged customs fees?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <p>
                                Nunc scelerisque tincidunt elit. Vestibulum non mi ipsum. Cras pretium suscipit tellus sit amet aliquet. Vestibulum maximus
                                lacinia massa non porttitor. Pellentesque vehicula est a lorem gravida bibendum. Proin tristique diam ut urna pharetra,
                                ac rhoncus elit elementum. Proin vitae purus ultrices, dignissim turpis ut, mattis eros. Maecenas ornare molestie urna,
                                hendrerit venenatis sem.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="faq-page-title my-5">
            <h6 class="text-center mb-3">Orders and Returns</h6>

            <div class="panel-group border" id="accordion-copy" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne-copy">
                        <h4 class="panel-title m-0">
                            <a role="button" data-toggle="collapse" data-parent="#accordion-copy" href="#collapseOne-copy" aria-expanded="false" aria-controls="collapseOne-copy">
                                Tracking my order
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne-copy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne-copy">
                        <div class="panel-body">
                            <p>
                                Nunc scelerisque tincidunt elit. Vestibulum non mi ipsum. Cras pretium suscipit tellus sit amet aliquet. Vestibulum maximus
                                lacinia massa non porttitor. Pellentesque vehicula est a lorem gravida bibendum. Proin tristique diam ut urna pharetra,
                                ac rhoncus elit elementum. Proin vitae purus ultrices, dignissim turpis ut, mattis eros. Maecenas ornare molestie urna,
                                hendrerit venenatis sem.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading border-top" role="tab" id="headingTwo-copy">
                        <h4 class="panel-title m-0">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-copy" href="#collapseTwo-copy" aria-expanded="false" aria-controls="collapseTwo-copy">
                                I haven’t received my order
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo-copy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-copy">
                        <div class="panel-body">
                            <p>
                                Nunc scelerisque tincidunt elit. Vestibulum non mi ipsum. Cras pretium suscipit tellus sit amet aliquet. Vestibulum maximus
                                lacinia massa non porttitor. Pellentesque vehicula est a lorem gravida bibendum. Proin tristique diam ut urna pharetra,
                                ac rhoncus elit elementum. Proin vitae purus ultrices, dignissim turpis ut, mattis eros. Maecenas ornare molestie urna,
                                hendrerit venenatis sem.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading border-top" role="tab" id="headingThree-copy">
                        <h4 class="panel-title m-0">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-copy" href="#collapseThree-copy" aria-expanded="false" aria-controls="collapseThree-copy">
                                How can I return an item?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree-copy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-copy">
                        <div class="panel-body">
                            <p>
                                Nunc scelerisque tincidunt elit. Vestibulum non mi ipsum. Cras pretium suscipit tellus sit amet aliquet. Vestibulum maximus
                                lacinia massa non porttitor. Pellentesque vehicula est a lorem gravida bibendum. Proin tristique diam ut urna pharetra,
                                ac rhoncus elit elementum. Proin vitae purus ultrices, dignissim turpis ut, mattis eros. Maecenas ornare molestie urna,
                                hendrerit venenatis sem.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq-page-title my-5">
            <h6 class="text-center mb-3">Payments</h6>

            <div class="panel-group border" id="accordion-copy1" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne-copy1">
                        <h4 class="panel-title m-0">
                            <a role="button" data-toggle="collapse" data-parent="#accordion-copy1" href="#collapseOne-copy1" aria-expanded="false" aria-controls="collapseOne-copy1">
                                Tracking my order
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne-copy1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne-copy1">
                        <div class="panel-body">
                            <p>
                                Nunc scelerisque tincidunt elit. Vestibulum non mi ipsum. Cras pretium suscipit tellus sit amet aliquet. Vestibulum maximus
                                lacinia massa non porttitor. Pellentesque vehicula est a lorem gravida bibendum. Proin tristique diam ut urna pharetra,
                                ac rhoncus elit elementum. Proin vitae purus ultrices, dignissim turpis ut, mattis eros. Maecenas ornare molestie urna,
                                hendrerit venenatis sem.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading border-top" role="tab" id="headingTwo-copy1">
                        <h4 class="panel-title m-0">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-copy1" href="#collapseTwo-copy1" aria-expanded="false" aria-controls="collapseTwo-copy1">
                                I haven’t received my order
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo-copy1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-copy1">
                        <div class="panel-body">
                            <p>
                                Nunc scelerisque tincidunt elit. Vestibulum non mi ipsum. Cras pretium suscipit tellus sit amet aliquet. Vestibulum maximus
                                lacinia massa non porttitor. Pellentesque vehicula est a lorem gravida bibendum. Proin tristique diam ut urna pharetra,
                                ac rhoncus elit elementum. Proin vitae purus ultrices, dignissim turpis ut, mattis eros. Maecenas ornare molestie urna,
                                hendrerit venenatis sem.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading border-top" role="tab" id="headingThree-copy1">
                        <h4 class="panel-title m-0">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-copy" href="#collapseThree-copy1" aria-expanded="false" aria-controls="collapseThree-copy1">
                                How can I return an item?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree-copy1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-copy1">
                        <div class="panel-body">
                            <p>
                                Nunc scelerisque tincidunt elit. Vestibulum non mi ipsum. Cras pretium suscipit tellus sit amet aliquet. Vestibulum maximus
                                lacinia massa non porttitor. Pellentesque vehicula est a lorem gravida bibendum. Proin tristique diam ut urna pharetra,
                                ac rhoncus elit elementum. Proin vitae purus ultrices, dignissim turpis ut, mattis eros. Maecenas ornare molestie urna,
                                hendrerit venenatis sem.
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</section>
{{ footer }}