{{ header }}
<section id="information-privacy">
    <div class="history">
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-6">
                    <div class="header-bg-text position-relative">
                        <h3 class="f-120 text-gray-500 font-weight-bold">Privacy</h3>
                    </div>

        </div>
    </div>
        </div></div>
</section>
{{ footer }}