{{ header }}
<section id="information-privacy">

        <div class="container my-5">
            <h3>RETURNS POLICY</h3>

            <h4>Our 28 Day Approval Guarantee </h4>
            <p>Our Sellers will replace or refund most goods provided they are returned back within 28 days of receipt complete, unused, in their original packaging and with any security tags intact. Our sellers Approval Guarantee does not apply to some goods or may apply only if certain conditions are met. These goods are identified on the product page and any such conditions are set out there.
                <br>

                If you return goods outside the scope of the Approval Guarantee and you have not exercised your legal right to cancel (explained below) we reserve the right to return the goods to you at your cost or to accept their return subject to making a deduction for any loss in value of the goods arising from your handling of them and a charge to cover our processing cost.
            </p>

            <h4>
                Your Right To Cancel Your Order under the Consumer Contracts (Information, Cancellation and Additional Charges) Regulations.
            </h4>
            <p>
                You also have the right to cancel your order under these regulations. However, <span class="text-success">this cancellation right does not apply to personalised products, perishable goods, audio & video recordings and computer software which has been opened and goods that are unsuitable for return for health or hygiene reasons if they are unsealed after delivery. The cancellation period will expire 14 days after the goods are received by you or by a third party nominated by you to receive the goods.</span>
                <br>
                If your order is for multiple goods for separate delivery, the cancellation period will end 14 days after receipt of the last item. You must clearly communicate your decision to cancel to the seller before the end of the cancellation period, for example by login onto thechampionmall.com, go to your order, select the product you’ll like to return and follow the return process.
                <br>
                If you cancel, your seller will reimburse any payment received, including the standard delivery charge, by the original means of payment. Where the goods have not been delivered, the reimbursement will be made within 14 days of the cancellation. Where the goods have been delivered, the reimbursement will be made within 14 days from when the seller receives the goods back. <br>
                You are responsible for returning the goods to the seller if you cancel under these Regulations. If you use our courier to return the goods, you will be responsible for the cost of the return. In such cases, we will deduct the delivery charge from your refund so that you do not have to make a further payment of the collection charge. Additionally, we may make a deduction for any loss in value of the goods arising from any unnecessary handling by you.
            </p>

           <h4>Consumer Rights Act 2015 </h4>
<p>
    If any product supplied fails prematurely due to an inherent fault (manufacturing defect), the seller will provide you with an appropriate remedy e.g. a repair, replacement, or refund.
</p>
           <h4>Supplier Helplines </h4>
            <p>
                If you report a fault with an electrical or furniture product, we may give you a supplier helpline to contact. We have arrangements in place with these helpline providers for them to identify the cause of any fault (we do not have the necessary technical expertise to do this) and to offer you an appropriate remedy. If you are dissatisfied with the service provided by a particular helpline, please inform us and we will take back control of the matter. Most helplines are open 9am - 5pm Monday to Friday. </p>



        </div>

</section>
{{ footer }}
