<h3 class="f-20 font-weight-bold text-uppercase mt-3">
    {{ size_title }}
</h3>
<div class="table-responsive product-clothing-sizes">
    <table class="table">
        <thead class="thead-success">
        <tr>
            <th scope="col">US</th>
            <th scope="col">UK</th>
            <th scope="col">Europe</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>9.5</td>
            <td>9.5</td>
            <td>39</td>
        </tr>
        <tr>
            <td>10</td>
            <td>10</td>
            <td>40</td>
        </tr>
        <tr>
            <td>10.5</td>
            <td>10.5</td>
            <td>41</td>
        </tr>
        <tr>
            <td>11</td>
            <td>11</td>
            <td>42</td>
        </tr>
        <tr>
            <td>11.5</td>
            <td>11.5</td>
            <td>43</td>
        </tr>
        <tr>
            <td>12</td>
            <td>12</td>
            <td>44</td>
        </tr>
        <tr>
            <td>12.5</td>
            <td>12.5</td>
            <td>45</td>
        </tr>
        </tbody>
    </table>
</div>
