<h3 class="f-20 font-weight-bold text-uppercase mt-3 text-center">
    {{ size_title }}
</h3>
<div class="table-responsive">
    <table class="table">
        <thead class="thead-success">
        <tr>
            <th scope="col">US Letter</th>
            <th scope="col">US</th>
            <th scope="col">Europe</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">X-Small (XS)</th>
            <td>6</td>
            <td>54</td>
        </tr>
        <tr>
            <th scope="row">Small</th>
            <td>6.75</td>
            <td>55</td>
        </tr>
        <tr>
            <th scope="row">Medium (M)</th>
            <td>7</td>
            <td>56</td>
        </tr>
        <tr>
            <th scope="row">Medium (M)</th>
            <td>7.25</td>
            <td>58</td>
        </tr>
        <tr>
            <th scope="row">Large (L)</th>
            <td>7.5</td>
            <td>60</td>
        </tr>
        <tr>
            <th scope="row">X-Large (XL)</th>
            <td>7.75</td>
            <td>62</td>
        </tr>
        </tbody>
    </table>
</div>