<h3 class="f-20 font-weight-bold text-uppercase mt-3">
    {{ size_title }}
</h3>
<div class="table-responsive product-clothing-sizes">
    <table class="table">
        <thead class="thead-success">
        <tr>
            <th scope="col">Letters</th>
            <th scope="col">US & UK</th>
            <th scope="col">Europe</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">X-Small (XS)</th>
            <td>34</td>
            <td>87</td>
        </tr>
        <tr>
            <th scope="row">Small (S)</th>
            <td>36</td>
            <td>91</td>
        </tr>
        <tr>
            <th scope="row">Medium (M)</th>
            <td>38</td>
            <td>97</td>
        </tr>
        <tr>
            <th scope="row">Large (L)</th>
            <td>40</td>
            <td>102</td>
        </tr>
        <tr>
            <th scope="row">X-Large (XL)</th>
            <td>42</td>
            <td>107</td>
        </tr>
        <tr>
            <th scope="row">X-Large (XL)</th>
            <td>44</td>
            <td>112</td>
        </tr>
        <tr>
            <th scope="row">2X-Large (XXL)</th>
            <td>46</td>
            <td>117</td>
        </tr>
        <tr>
            <th scope="row">2X-Large (XXL)</th>
            <td>48</td>
            <td>122</td>
        </tr>
        </tbody>
    </table>
</div>