<h3 class="f-20 font-weight-bold text-uppercase mt-3">
    {{ size_title }}
</h3>
<div class="table-responsive product-clothing-sizes">
    <table class="table">
        <thead class="thead-success">
        <tr>
            <th scope="col">US & Canada</th>
            <th scope="col">US & AUS</th>
            <th scope="col">Europe</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>25/26</td>
            <td>25/26</td>
            <td>34</td>
        </tr>
        <tr>
            <td>27/28</td>
            <td>27/28</td>
            <td>36</td>
        </tr>
        <tr>
            <td>29/30</td>
            <td>29/30</td>
            <td>38</td>
        </tr>
        <tr>
            <td>31</td>
            <td>31</td>
            <td>40</td>
        </tr>
        <tr>
            <td>32</td>
            <td>32</td>
            <td>42</td>
        </tr>
        <tr>
            <td>33</td>
            <td>33</td>
            <td>44</td>
        </tr>
        <tr>
            <td>34</td>
            <td>34</td>
            <td>46</td>
        </tr>
        <tr>
            <td>36</td>
            <td>36</td>
            <td>48</td>
        </tr>
        </tbody>
    </table>
</div>