<h3 class="f-20 font-weight-bold text-uppercase mt-3">
    {{ size_title }}
</h3>
<div class="table-responsive product-clothing-sizes">
    <table class="table">
        <thead class="thead-success">
        <tr>
            <th scope="col">Label size</th>
            <th scope="col">UK</th>
            <th scope="col">Italy</th>
            <th scope="col">Chest <br><span>(in inches)</span></th>
            <th scope="col">Waist <br><span>(in inches)</span></th>
            <th scope="col">Sleeve length <br><span>(in inches)</span> </th>
            <th scope="col">Shoulder width  <br><span>(in inches)</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">S</th>
            <td>S</td>
            <td>37 - 38 </td>
            <td>44.09 </td>
            <td>38.98 </td>
            <td>25.98 </td>
            <td>30.71</td>
        </tr>
        <tr>
            <th scope="row">M </th>
            <td>M </td>
            <td>39 - 40 </td>
            <td> 46.46 </td>
            <td> 41.73 </td>
            <td>25.98 </td>
            <td>31.50</td>
        </tr>
        <tr>
            <th scope="row">L </th>
            <td> L </td>
            <td>41 - 42 </td>
            <td> 50.39 </td>
            <td>  45.67 </td>
            <td> 25.98 </td>
            <td>31.50</td>
        </tr>
        <tr>
            <th scope="row">XL </th>
            <td>   XL </td>
            <td> 43 - 44 </td>
            <td> 54.33 </td>
            <td>  49.61 </td>
            <td> 26.38 </td>
            <td>33.07</td>
        </tr>
        <tr>
            <th scope="row">XXL </th>
            <td>  XXL </td>
            <td>45 - 46 </td>
            <td>56.69 </td>
            <td> 53.54 </td>
            <td> 26.38 </td>
            <td> 33.07</td>
        </tr>
        <tr>
            <th scope="row">3XL </th>
            <td>  3XL </td>
            <td>47 - 48 </td>
            <td> 59.06 </td>
            <td> 56.69 </td>
            <td> 26.38 </td>
            <td> 34.25</td>
        </tr>
        <tr>
            <th scope="row">4XL </th>
            <td>  4XL </td>
            <td> 49 - 50 </td>
            <td>  62.20 </td>
            <td>  59.84 </td>
            <td>  26.38 </td>
            <td>  35.43</td>
        </tr>
        </tbody>
    </table>
</div>