<h3 class="f-20 font-weight-bold text-uppercase mt-3 text-center">
    {{ size_title }}
</h3>
<div class="table-responsive">
    <table class="table">
        <thead class="thead-success">
        <tr>
            <th scope="col">Letters</th>
            <th scope="col">US & Canada</th>
            <th scope="col">UK</th>
            <th scope="col">Europe</th>
            <th scope="col">Japan</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">XXS</th>
            <td>30</td>
            <td>30</td>
            <td>40</td>
            <td>32</td>
        </tr>
        <tr>
            <th scope="row">XS</th>
            <td>32</td>
            <td>32</td>
            <td>42</td>
            <td>34</td>
        </tr>
        <tr>
            <th scope="row">S</th>
            <td>34</td>
            <td>34</td>
            <td>44</td>
            <td>46</td>
        </tr>
        <tr>
            <th scope="row">S</th>
            <td>36</td>
            <td>36</td>
            <td>46</td>
            <td>38</td>
        </tr>
        <tr>
            <th scope="row">M</th>
            <td>38</td>
            <td>38</td>
            <td>48</td>
            <td>40</td>
        </tr>
        <tr>
            <th scope="row">M</th>
            <td>40</td>
            <td>40</td>
            <td>50</td>
            <td>42</td>
        </tr>
        <tr>
            <th scope="row">L</th>
            <td>42</td>
            <td>42</td>
            <td>52</td>
            <td>44</td>
        </tr>
        <tr>
            <th scope="row">L</th>
            <td>44</td>
            <td>44</td>
            <td>54</td>
            <td>46</td>
        </tr>
        <tr>
            <th scope="row">XL</th>
            <td>46</td>
            <td>46</td>
            <td>56</td>
            <td>48</td>
        </tr>
        <tr>
            <th scope="row">XXL</th>
            <td>48</td>
            <td>48</td>
            <td>58</td>
            <td>50</td>
        </tr>
        <tr>
            <th scope="row">XXXL</th>
            <td>50</td>
            <td>50</td>
            <td>60</td>
            <td>52</td>
        </tr>
        </tbody>
    </table>
</div>