<h3 class="f-20 font-weight-bold text-uppercase mt-3">
    {{ size_title }}
</h3>
<div class="table-responsive product-clothing-sizes">
    <table class="table">
        <thead class="thead-success">
        <tr>
            <th scope="col">S-XL</th>
            <th scope="col">US</th>
            <th scope="col">England</th>
            <th scope="col">Europe</th>
            <th scope="col">Japan</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">XS</th>
            <td>14</td>
            <td>14</td>
            <td>36</td>
            <td>87</td>

        </tr>
        <tr>
            <th scope="row">S</th>
            <td>14.5</td>
            <td>14.5</td>
            <td>37</td>
            <td>91</td>

        </tr>
        <tr>
            <th scope="row">MS</th>
            <td>15</td>
            <td>15</td>
            <td>38</td>
            <td>97</td>

        </tr>
        <tr>
            <th scope="row">M</th>
            <td>15.5</td>
            <td>15.5</td>
            <td>39</td>
            <td>102</td>

        </tr>
        <tr>
            <th scope="row">ML</th>
            <td>16</td>
            <td>16</td>
            <td>41</td>
            <td>112</td>

        </tr>
        <tr>
            <th scope="row">L</th>
            <td>16.5</td>
            <td>16.5</td>
            <td>42</td>
            <td>117</td>

        </tr>
        <tr>
            <th scope="row">MXL</th>
            <td>17</td>
            <td>17</td>
            <td>43</td>
            <td>122</td>

        </tr>
        <tr>
            <th scope="row">XL</th>
            <td>17.5</td>
            <td>17.5</td>
            <td>44</td>
            <td>127</td>

        </tr>
        <tr>
            <th scope="row">XXL</th>
            <td>18</td>
            <td>18</td>
            <td>45</td>
            <td>132</td>

        </tr>
        </tbody>
    </table>
</div>